# PARSING etherscan.io

I made an attempt to parse more full information about user's transactions.

In [58]:
%load_ext autoreload
%autoreload 2
%aimport

import requests
from bs4 import BeautifulSoup
from application.load_transaction_data import load_ether_data, load_token_data
import pandas as pd
import numpy as np
import re
from tqdm import tqdm
import random
import time
import warnings

warnings.filterwarnings("ignore")

transactions_df = load_ether_data()\
    .query("Status != 'Error(0)'")
token_df = load_token_data()

transactions_parsed_df = pd.read_pickle("transactions_parsed_df")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Modules to reload:
all-except-skipped

Modules to skip:

In [69]:
expr = "TRANSFER  1,355.117744540135181807 Ether From Wrapped"
expr.split("TRANSFER")[1].split("Ether")[0].strip(" ")

'1,355.117744540135181807'

In [79]:
from user_agent import generate_user_agent
def export_transfer_list(transfer: str):
    # try:
    #     amount = re.findall(r"(\d+\.\d+|\d+\,\d+)", transfer)[0]
    # except IndexError:
    #     amount = re.findall(r"\d+", transfer)[0]
    amount = float(transfer.split("TRANSFER")[1].split("Ether")[0].strip(" ").replace(",", ""))
    from_ = re.findall(r"From (.*?) To", transfer)[0]
    to_ = transfer.split("  ")[-1]
    return amount, from_, to_


def extract_token_info(token_url):
    result_dict = {}

    # Parse from and to
    try:
        result_dict['from'] =  token_url.find("span", class_='hash-tag text-truncate hash-tag-custom-from tooltip-address').text
    except Exception as e:
        result_dict['from'] = e
    try:
        result_dict['to'] = token_url.find("span", class_='hash-tag text-truncate hash-tag-custom-to tooltip-address').text
    except Exception as e:
        result_dict['to'] = e

    # Parse USD value. Check, where or not does USD value exist on this page?
    try:
        token1_usd = re.findall(r"\(\$.*?\)", str(token_url))[0]
        token1_usd = token1_usd.strip("()").replace(" (", "").replace("$", "")
        result_dict['usd'] = float(token1_usd.replace(",", "_"))
        result_dict['amount'] = token_url.find("span", 'data-toggle'=='tooltip').text
        result_dict['amount'] = float(result_dict['amount'].replace(",", ""))
    except (AttributeError, IndexError) as e:
        result_dict['usd'] = 'empty'
        result_dict['amount'] = token_url.find_all("span", class_='mr-1')[-1].text
        result_dict['amount'] = float(result_dict['amount'].replace(",", ""))

    # Parse token hash in order to parse full info later
    try:
        result_dict['token_hash'] = token_url.find("a").get("href").split("?")[0].split("/")[2]
    except Exception as e:
        result_dict['token_hash'] = e
    return result_dict

def extract_tokens_info(transaction_hash):
    req = requests.get(f"https://etherscan.io/tx/{transaction_hash}",
                   headers={"User-Agent": generate_user_agent()})
    content = req.content
    soup = BeautifulSoup(content)
    tokens_df = []
    bad_tokens = []
    errors = []
    all_tokens = soup.find_all("li", class_='media align-items-baseline mb-2')
    for index, tokens in enumerate(all_tokens):
        try:
            tokens_df.append(
                pd.DataFrame.from_dict(extract_token_info(all_tokens[index]), orient='index').T
            )
        except Exception as e:
            bad_tokens.append(index)
            errors.append(e)
    try:

        tokens_df = pd.concat(tokens_df)
    except ValueError:
        tokens_df = pd.DataFrame(data=[transaction_hash], columns=['Txhash'])

    tokens_df.index = np.arange(tokens_df.shape[0])
    # TRANSFER parsing
    transfer_text_list = []
    transfers = soup.find_all("li", class_='media align-items-baseline')
    if len(transfers) > 0:
        for transf in transfers:
            transfer_text_list.append(transf.text.replace("\xa0", ""))

        transfer_df = pd.DataFrame(list(map(export_transfer_list, transfer_text_list)), columns=['transfer_amount', 'transfer_from', 'transfer_to'])
        tokens_df = pd.concat([tokens_df, transfer_df], axis=1)

    tokens_df['Txhash'] = transaction_hash
    return tokens_df

all_tokens_df = []
transactions_list = set(transactions_df['Txhash'])
for tx_hash in tqdm(transactions_list):
    try:
        time.sleep(random.uniform(0, 1))
        all_tokens_df.append(extract_tokens_info(tx_hash))
    except Exception as e:
        print(e)
        print(f"Error on {tx_hash}")
    pd.concat(all_tokens_df).to_pickle("transactions_transfers_df")
# extract_tokens_info("0xdf08f1b6048a3c151737d797c5a5da5892cff66dfdfda319d4a260f358196c4b")

 15%|█▍        | 1110/7418 [19:24<2:01:13,  1.15s/it]

could not convert string to float: '1 wei From Wrapped'
Error on 0x90c67a86473a56f543d0984e569e60f4b70ea85a623342c822bc0b4d5821ce7e

 73%|███████▎  | 5398/7418 [2:30:23<1:22:55,  2.46s/it]

could not convert string to float: '90 wei From SushiSwap: Router To  0x99fd1378ca799ed6772fe7bcdc9b30b389518962'
Error on 0x428c9d824d6aa0c2599ee48be07592efd37c5eac7ea66a8bce9678f537dbdd3d

100%|██████████| 7418/7418 [4:00:43<00:00,  1.95s/it]

In [74]:
transactions_parsed_df.query("Txhash == '0x52b25346387d60c526de43ec5ce71574852cbe40bcb2cec8aed9b40ce7d52996'")

Empty DataFrame
Columns: [Txhash, from, to, usd, amount, token_hash, transfer_amount, transfer_from, transfer_to, transfer_amount_prep, ETH_amount]
Index: []

In [59]:
transactions_parsed_df_new = pd.read_pickle("transactions_parsed_df_new")
transactions_parsed_df = pd.concat([transactions_parsed_df, transactions_parsed_df_new])
transactions_parsed_df['transfer_amount_prep'] = transactions_parsed_df['transfer_amount'].apply(lambda x: x.replace(",", "") if type(x) == str else x)
transactions_parsed_df['transfer_amount_prep'] = pd.to_numeric(transactions_parsed_df['transfer_amount_prep'], errors='coerce')
transactions_parsed_df['ETH_amount'] = np.where(transactions_parsed_df['transfer_to'] == '0x99fd1378ca799ed6772fe7bcdc9b30b389518962',
                                                transactions_parsed_df['transfer_amount_prep'],
                                                -transactions_parsed_df['transfer_amount_prep'])

In [63]:
delete = transactions_parsed_df.merge(transactions_df[['Txhash', 'DateTime', "Quantity"]], how='left', on='Txhash')
delete.query("DateTime >= '2020-09-02' & DateTime < '2020-09-03'")

,Txhash,from,to,usd,amount,token_hash,transfer_amount,transfer_from,transfer_to,transfer_amount_prep,ETH_amount,DateTime,Quantity
964,0x52b25346387d60c526de43ec5ce71574852cbe40bcb2...,NaN,NaN,NaN,NaN,NaN,5.117744540135181807,Wrapped Ether,0x99fd1378ca799ed6772fe7bcdc9b30b389518962,5.117745,5.117745,2020-09-02 00:02:03,-0.000000
965,0x2d50f9a2f00594c941af9271ba400f604964234cdf40...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-09-02 00:23:40,-0.000000
966,0xc96f019a1bfb8d736a709bbfa63d5fe792c6b34434dc...,0x99fd1378ca799ed6772fe7bcdc9b30b389518962,Uniswap V2: USDC,308855.07,309274.356884,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,8.496251403084912011,Uniswap V2: Router 2,Wrapped Ether,8.496251,-8.496251,2020-09-02 00:31:49,-648.496251
967,0xc96f019a1bfb8d736a709bbfa63d5fe792c6b34434dc...,Uniswap V2: Router 2,Uniswap V2: USDC,286295.37,648.496251,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,NaN,NaN,NaN,NaN,NaN,2020-09-02 00:31:49,-648.496251
968,0xc96f019a1bfb8d736a709bbfa63d5fe792c6b34434dc...,Null Address: 0x000…000,0x99fd1378ca799ed6772fe7bcdc9b30b389518962,2386495.75,0.011705,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,NaN,NaN,NaN,NaN,NaN,2020-09-02 00:31:49,-648.496251
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1143,0xc4def72e7ba1a323aa786c0240c65be59afbf269a25d...,0x99fd1378ca799ed6772fe7bcdc9b30b389518962,Kimchi Finance: Staking Pool,2429755.75,0.011919,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,NaN,NaN,NaN,NaN,NaN,2020-09-02 18:07:41,-0.000000
19097,0x7d6eeb70890f0399b0fc771601c2e165753caaaf3e99...,Uniswap V2: Router 2,Uniswap V2: SUSHI,18541.98,42.0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,42,Uniswap V2: Router 2,Wrapped Ether,42.000000,-42.000000,2020-09-02 16:41:19,-42.000000
19098,0x7d6eeb70890f0399b0fc771601c2e165753caaaf3e99...,Uniswap V2: SUSHI,0x99fd1378ca799ed6772fe7bcdc9b30b389518962,20680.47,2864.777247,0x6b3595068778dd592e39a122f4f5a5cf09c90fe2,NaN,NaN,NaN,NaN,NaN,2020-09-02 16:41:19,-42.000000
19396,0xc1da604638595e6c1dcdc1ee221acd3d0f353557648a...,Uniswap V2: Router 2,Uniswap V2: USDC,286959.24,650.0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,650,Uniswap V2: Router 2,Wrapped Ether,650.000000,-650.000000,2020-09-02 00:10:01,-650.000000
19397,0xc1da604638595e6c1dcdc1ee221acd3d0f353557648a...,Uniswap V2: USDC,0x99fd1378ca799ed6772fe7bcdc9b30b389518962,308997.68,309417.153296,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,NaN,NaN,NaN,NaN,NaN,2020-09-02 00:10:01,-650.000000

In [60]:
find_eth_deals_df = transactions_df[['Txhash', 'DateTime', "Quantity"]]\
    .merge(transactions_parsed_df\
            .query("transfer_to == '0x99fd1378ca799ed6772fe7bcdc9b30b389518962' | transfer_from == '0x99fd1378ca799ed6772fe7bcdc9b30b389518962'")
           .groupby(['Txhash'], as_index=False)['ETH_amount'].sum(),
           on=['Txhash'], how='left')\
    .merge(transactions_df[['Txhash', 'TxnFee(ETH)']], on='Txhash', how="left")
find_eth_deals_df['ETH_final'] = np.where(find_eth_deals_df['Quantity'] != 0, find_eth_deals_df['Quantity'], find_eth_deals_df['ETH_amount'])
find_eth_deals_df['ETH_net'] = find_eth_deals_df['ETH_final'] - find_eth_deals_df['TxnFee(ETH)']
find_eth_deals_df['ETH_cumsum'] = find_eth_deals_df['ETH_net'].cumsum()

In [62]:
find_eth_deals_df

,Txhash,DateTime,Quantity,ETH_amount,TxnFee(ETH),ETH_final,ETH_net,ETH_cumsum
0,0x4c3b415bb98370a9ef572567a4e13b61759763c08192...,2020-08-04 20:21:33,1.000000,NaN,0.000882,1.000000,0.999118,0.999118
1,0xdf08f1b6048a3c151737d797c5a5da5892cff66dfdfd...,2020-08-04 20:26:40,-0.100000,NaN,0.014775,-0.100000,-0.114775,0.884343
2,0x88877e0aff3d534341cbb11d9fa19e5c807a164efd3f...,2020-08-05 18:14:02,9.156451,NaN,0.001050,9.156451,9.155401,10.039743
3,0x63f876ae7c626619a740f26d135dc187f2c1dd24d42f...,2020-08-05 18:18:49,-0.000000,NaN,0.004291,NaN,NaN,NaN
4,0x12c77d689b0a62785e4ab18999382e8ce24c2b927bad...,2020-08-05 19:01:33,2228.526819,NaN,0.000983,2228.526819,2228.525836,2238.565580
...,...,...,...,...,...,...,...,...
7428,0x2e2926cccdc525856f0aa64e70917ffbec4a02f557f1...,2022-04-24 00:36:21,-0.000000,NaN,0.011870,NaN,NaN,NaN
7429,0xbc81557cb35bb4eda725803c320eee011b06e92a05af...,2022-04-24 00:37:11,-0.000000,7.509397,0.013450,7.509397,7.495947,-719819.760839
7430,0x167c46dd943aa9ff360ff99fbf2683fc6e78c377f472...,2022-04-24 00:38:04,-0.000000,NaN,0.007490,NaN,NaN,NaN
7431,0x2394fdb6228d761f899156ebbc06554d0701c5952500...,2022-04-24 00:40:23,-0.000000,NaN,0.012496,NaN,NaN,NaN
7432,0xb7e6d1118f9b99cf1575d55dcefbee3b013b72e732b2...,2022-04-24 12:20:07,45.894022,NaN,0.000553,45.894022,45.893469,-719773.867370

In [61]:
find_eth_deals_df.set_index("DateTime")['ETH_net'].resample("D").sum().cumsum()

DateTime
2020-08-04         0.884343
2020-08-05         8.563874
2020-08-06         8.563874
2020-08-07         8.563874
2020-08-08         9.031854
                  ...
2022-04-20   -719715.167537
2022-04-21   -719715.167537
2022-04-22   -719715.167537
2022-04-23   -719715.167537
2022-04-24   -719773.867370
Freq: D, Name: ETH_net, Length: 629, dtype: float64

In [41]:
find_eth_deals_df

,Txhash,DateTime,Quantity,ETH_amount,TxnFee(ETH),ETH_final,ETH_net,ETH_cumsum
0,0x4c3b415bb98370a9ef572567a4e13b61759763c08192...,2020-08-04 20:21:33,1.000000,0.0,0.000882,1.000000,0.999118,0.999118
1,0xdf08f1b6048a3c151737d797c5a5da5892cff66dfdfd...,2020-08-04 20:26:40,-0.100000,-0.1,0.014775,-0.100000,-0.114775,0.884343
2,0x88877e0aff3d534341cbb11d9fa19e5c807a164efd3f...,2020-08-05 18:14:02,9.156451,0.0,0.001050,9.156451,9.155401,10.039743
3,0x63f876ae7c626619a740f26d135dc187f2c1dd24d42f...,2020-08-05 18:18:49,-0.000000,0.0,0.004291,0.000000,-0.004291,10.035453
4,0x12c77d689b0a62785e4ab18999382e8ce24c2b927bad...,2020-08-05 19:01:33,2228.526819,0.0,0.000983,2228.526819,2228.525836,2238.561289
...,...,...,...,...,...,...,...,...
7536,0x2e2926cccdc525856f0aa64e70917ffbec4a02f557f1...,2022-04-24 00:36:21,-0.000000,0.0,0.011870,0.000000,-0.011870,-731383.057506
7537,0xbc81557cb35bb4eda725803c320eee011b06e92a05af...,2022-04-24 00:37:11,-0.000000,0.0,0.013450,0.000000,-0.013450,-731383.070956
7538,0x167c46dd943aa9ff360ff99fbf2683fc6e78c377f472...,2022-04-24 00:38:04,-0.000000,0.0,0.007490,0.000000,-0.007490,-731383.078446
7539,0x2394fdb6228d761f899156ebbc06554d0701c5952500...,2022-04-24 00:40:23,-0.000000,0.0,0.012496,0.000000,-0.012496,-731383.090942
7540,0xb7e6d1118f9b99cf1575d55dcefbee3b013b72e732b2...,2022-04-24 12:20:07,45.894022,0.0,0.000553,45.894022,45.893469,-731337.197473

In [98]:
transactions_parsed_df = pd.read_pickle("transactions_parsed_df")
transactions_parsed_user_df = transactions_parsed_df[(transactions_parsed_df["from"] == '0x99fd1378ca799ed6772fe7bcdc9b30b389518962') |
                                                        (transactions_parsed_df['to'] == '0x99fd1378ca799ed6772fe7bcdc9b30b389518962')]
transactions_parsed_user_df['amount_prep'] = transactions_parsed_user_df['amount'].apply(lambda x: x.replace(",", "") if type(x) == str else x)
transactions_parsed_user_df['amount_prep'] = pd.to_numeric(transactions_parsed_user_df['amount_prep'], errors='coerce')

In [109]:
transactions_parsed_user_df.query("Txhash == '0x1f0e87327d9ca8df226b4a098c4438fc406f3fc1516785cdc93339b81122d169'")

,Txhash,from,to,usd,amount,token_hash,transfer_amount,transfer_from,transfer_to,amount_prep
0,0x1f0e87327d9ca8df226b4a098c4438fc406f3fc15167...,0x99fd1378ca799ed6772fe7bcdc9b30b389518962,Uniswap V2: KIMCHI 2,2032.19,1462.055355,0x1e18821e69b9faa8e6e75dffe54e7e25754beda0,7.350894404996841542,Wrapped Ether,Uniswap V2: Router 2,1462.055355

## Parsing token hash

In [67]:
all_token_hash = [i for i in set(all_tokens_user_df['token_hash'].unique()) if type(i) == str and len(i) == 42]
def parsing_tokens(token_hash):
    token_dict = {}
    token_dict['token_hash'] = token_hash
    req = requests.get(f"https://etherscan.io/token/{token_hash}",
                   headers={"User-Agent": generate_user_agent()})
    content = req.content
    soup = BeautifulSoup(content)
    try:
        token_dict['token_short_name'] = soup.find("span", class_='text-secondary small').text
    except Exception as e:
        token_dict['token_short_name'] = e
    try:
        token_dict['token_long_name'] = soup.find("a", class_='mb-1 mb-sm-0 u-label u-label--xs u-label--info').text
    except Exception as e:
        token_dict['token_long_name'] = e
    return token_dict

token_names_df = []
for token in tqdm(all_token_hash):
    time.sleep(random.uniform(0, 2))
    try:
        token_names_df.append(
                pd.DataFrame.from_dict(parsing_tokens(token), orient='index').T)
    except Exception as e:
        token_names_df.append(pd.DataFrame(data=[token], columns=['Txhash']))
token_names_df = pd.concat(token_names_df)
token_names_df.to_pickle("token_hash_name")

# Add token name
all_tokens_df_2 = all_tokens_df_2.merge(token_names_df[['token_hash', 'token_short_name']], how='left', on='token_hash')

100%|██████████| 241/241 [05:56<00:00,  1.48s/it]